<% content_for :head do %>
    <%= fonts('Fira Code', 'Merriweather') %>
    <%= stylesheet_inline_tag 'article' %>
<% end %>
<% wrap_layout :core do %>
    <article>
      <header>
        <div class="heading">
          <time><%= article_date(current_page) %></time>
          / <%= link_to 'Sahil Muthoo', '/' %>
        </div>
        <h1><%= current_page.data.title %></h1>
      </header>
      <%= yield %>
    </article>
<% end %>
