<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= site_meta_tags(current_page) %>
  <title><%= site_title(current_page) %></title>
  <link rel="alternate" href="https://sahilm.com/feed.xml" type="application/rss+xml" title="RSS feed">
  <link rel="canonical" href="<%= full_url(current_page.url) %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="<%= image_path('safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#458588"/>
  <%= partial 'partials/ga' %>
  <%= yield_content :head %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
