<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= site_meta_tags(current_page) %>
  <title><%= title(current_page) %></title>
  <%= favicon_tag 'images/favicon.ico' %>
  <link rel="alternate" href="https://sahilm.com/feed.xml" type="application/rss+xml" title="RSS feed">
  <%= partial 'partials/ga' %>
  <%= javascript_inline_tag 'webfontloader' -%>
  <%= yield_content :head %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
